section{
    display: inline-block;
    justify-content: center;
}
div{
    display: inline-block;
}
#pieces{
    align-content: center;
    width: 100vw;
    margin-left: 50px;
}
#navigation{
    height: 50px;
}
h1{
    text-align-last: center;
}
.piece{
    background-color: yellow;
    border: double black;
    width: 100px;
    height: 100px;
}
.end{
    width: 100vw;
    display: block;
    align-content: center;
    font-size: larger;
    font-weight: bold;
    color: red;
    justify-content: center;
}
.marked{
    background-color: blue;
}
.wrongAnswer{
    background-color: red;
}
.correctAnswer{
    background-color: green;
}
section{
    justify-content: space-around;
}
.blocked{
    pointer-events: none;
}
#toGuess{
    text-align-last: right;
    color: #000088;
    font-size: larger;
    text-decoration-style: solid;
}
.numberToGuess{
    width: 50vw;
}